@import "../../global.scss";

.navbar {
  display: flex;
  height: 100px;
  align-items: center;
  justify-content: space-between;

  .links {
    display: flex;
    gap: 20px;

    @include mobile-only {
      display: none;
    }
  }
}
