@import "../../global.scss";

.projects{
    height: calc(100vh - 150px);
    overflow-y: auto;
    scrollbar-width: none;
    .head{
        font-size: 50px;
        color: #acac29;
        @include mobile-only{
            font-size: 30px;
        }
        @include ipad-only{
            font-size: 40px;
        }
        @include small-screen{
            font-size: 45px;
        }
    }
}